.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

html {
    background-color: black;
}

h1 {
    color: white;
    font-family: libre-baskerville-regular;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: white;
    text-align: center;
    font-family: libre-baskerville-regular;
}

img {
    width: 100%;
    height: 30%;
    border: 5px solid white;
    margin-top: 15%;
}

div [id = 'maindiv'] {
    width: 50%;
    margin-left: 25%;

}

